[submodule "42/Cursus/libft"]
	path = 42/Cursus/libft
	url = git@github.com:laird-ikar/libft.git
[submodule "42/Cursus/rank01/ft_printf"]
	path = 42/Cursus/rank01/ft_printf
	url = git@github.com:laird-ikar/ft_printf.git
[submodule "42/Cursus/rank01/get_next_line"]
	path = 42/Cursus/rank01/get_next_line
	url = git@github.com:laird-ikar/get_next_line.git
[submodule "42/Cursus/rank02/minitalk"]
	path = 42/Cursus/rank02/minitalk
	url = git@github.com:laird-ikar/minitalk.git
[submodule "42/Cursus/rank02/push_swap"]
	path = 42/Cursus/rank02/push_swap
	url = git@github.com:laird-ikar/push_swap.git
[submodule "42/Cursus/rank02/FdF"]
	path = 42/Cursus/rank02/FdF
	url = git@github.com:laird-ikar/FdF.git
[submodule "42/Cursus/rank02/philosophers"]
	path = 42/Cursus/rank02/philosophers
	url = git@github.com:laird-ikar/philosophers.git
[submodule "42/Cursus/rank02/minishell"]
	path = 42/Cursus/rank02/minishell
	url = git@github.com:laird-ikar/minishell.git
[submodule "42/Cursus/rank04/NetPractice"]
	path = 42/Cursus/rank04/NetPractice
	url = git@github.com:laird-ikar/NetPractice.git
[submodule "42/Cursus/rank04/cub3D"]
	path = 42/Cursus/rank04/cub3D
	url = git@github.com:laird-ikar/cub3D
[submodule "42/Cursus/rank03/minishell"]
	path = 42/Cursus/rank03/minishell
	url = git@github.com:laird-ikar/minishell.git
[submodule "42/Cursus/rank03/philosophers"]
	path = 42/Cursus/rank03/philosophers
	url = git@github.com:laird-ikar/philosophers.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP00"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP00
	url = git@github.com:laird-ikar/CPP00.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP01"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP01
	url = git@github.com:laird-ikar/CPP01.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP02"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP02
	url = git@github.com:laird-ikar/CPP02.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP03"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP03
	url = git@github.com:laird-ikar/CPP03.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP04"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP04
	url = git@github.com:laird-ikar/CPP04.git
[submodule "42/Cursus/rank05/ft_irc"]
	path = 42/Cursus/rank05/ft_irc
	url = git@github.com:laird-ikar/ft_irc.git
[submodule "42/Cursus/rank05/Inception"]
	path = 42/Cursus/rank05/Inception
	url = git@github.com:laird-ikar/Inception.git
[submodule "42/Cursus/rank05/CPP Modules 05-09/CPP05"]
	path = 42/Cursus/rank05/CPP Modules 05-09/CPP05
	url = git@github.com:laird-ikar/CPP05.git
[submodule "42/Cursus/rank05/CPP Modules 05-09/CPP06"]
	path = 42/Cursus/rank05/CPP Modules 05-09/CPP06
	url = git@github.com:laird-ikar/CPP06.git
[submodule "42/Cursus/rank05/CPP Modules 05-09/CPP07"]
	path = 42/Cursus/rank05/CPP Modules 05-09/CPP07
	url = git@github.com:laird-ikar/CPP07.git
[submodule "42/Cursus/rank05/CPP Modules 05-09/CPP08"]
	path = 42/Cursus/rank05/CPP Modules 05-09/CPP08
	url = git@github.com:laird-ikar/CPP08.git
[submodule "42/Cursus/rank05/CPP Modules 05-09/CPP09"]
	path = 42/Cursus/rank05/CPP Modules 05-09/CPP09
	url = git@github.com:laird-ikar/CPP09.git
[submodule "42/Cursus/rank06/ft_transcendence"]
	path = 42/Cursus/rank06/ft_transcendence
	url = git@github.com:laird-ikar/ft_transcendence.git
[submodule "42/Piscine C/Shell-00"]
	path = 42/Piscine C/Shell-00
	url = git@github.com:laird-ikar/Shell-00.git
[submodule "42/Piscine C/Shell-01"]
	path = 42/Piscine C/Shell-01
	url = git@github.com:laird-ikar/Shell-01.git
[submodule "42/Piscine C/days/C-00"]
	path = 42/Piscine C/days/C-00
	url = git@github.com:laird-ikar/C-00.git
[submodule "42/Piscine C/days/C-01"]
	path = 42/Piscine C/days/C-01
	url = git@github.com:laird-ikar/C-01.git
[submodule "42/Piscine C/days/C-02"]
	path = 42/Piscine C/days/C-02
	url = git@github.com:laird-ikar/C-02.git
[submodule "42/Piscine C/days/C-03"]
	path = 42/Piscine C/days/C-03
	url = git@github.com:laird-ikar/C-03.git
[submodule "42/Piscine C/days/C-04"]
	path = 42/Piscine C/days/C-04
	url = git@github.com:laird-ikar/C-04.git
[submodule "42/Piscine C/days/C-05"]
	path = 42/Piscine C/days/C-05
	url = git@github.com:laird-ikar/C-05.git
[submodule "42/Piscine C/days/C-06"]
	path = 42/Piscine C/days/C-06
	url = git@github.com:laird-ikar/C-06.git
[submodule "42/Piscine C/days/C-07"]
	path = 42/Piscine C/days/C-07
	url = git@github.com:laird-ikar/C-07.git
[submodule "42/Piscine C/days/C-08"]
	path = 42/Piscine C/days/C-08
	url = git@github.com:laird-ikar/C-08.git
[submodule "42/Piscine C/days/C-09"]
	path = 42/Piscine C/days/C-09
	url = git@github.com:laird-ikar/C-09.git
[submodule "42/Piscine C/days/C-10"]
	path = 42/Piscine C/days/C-10
	url = git@github.com:laird-ikar/C-10.git
[submodule "42/Piscine C/days/C-11"]
	path = 42/Piscine C/days/C-11
	url = git@github.com:laird-ikar/C-11.git
[submodule "42/Piscine C/days/Shell-00"]
	path = 42/Piscine C/days/Shell-00
	url = git@github.com:laird-ikar/Shell-00.git
[submodule "42/Piscine C/days/Shell-01"]
	path = 42/Piscine C/days/Shell-01
	url = git@github.com:laird-ikar/Shell-01.git
