[submodule "42/Cursus/libft"]
	path = 42/Cursus/libft
	url = git@github.com:laird-ikar/libft.git
[submodule "42/Cursus/rank01/ft_printf"]
	path = 42/Cursus/rank01/ft_printf
	url = git@github.com:laird-ikar/ft_printf.git
[submodule "42/Cursus/rank01/get_next_line"]
	path = 42/Cursus/rank01/get_next_line
	url = git@github.com:laird-ikar/get_next_line.git
[submodule "42/Cursus/rank02/minitalk"]
	path = 42/Cursus/rank02/minitalk
	url = git@github.com:laird-ikar/minitalk.git
[submodule "42/Cursus/rank02/push_swap"]
	path = 42/Cursus/rank02/push_swap
	url = git@github.com:laird-ikar/push_swap.git
[submodule "42/Cursus/rank02/FdF"]
	path = 42/Cursus/rank02/FdF
	url = git@github.com:laird-ikar/FdF.git
[submodule "42/Cursus/rank02/philosophers"]
	path = 42/Cursus/rank02/philosophers
	url = git@github.com:laird-ikar/philosophers.git
[submodule "42/Cursus/rank02/minishell"]
	path = 42/Cursus/rank02/minishell
	url = git@github.com:laird-ikar/minishell.git
[submodule "42/Cursus/rank04/NetPractice"]
	path = 42/Cursus/rank04/NetPractice
	url = git@github.com:laird-ikar/NetPractice.git
[submodule "42/Cursus/rank04/cub3D"]
	path = 42/Cursus/rank04/cub3D
	url = git@github.com:laird-ikar/cub3D
[submodule "42/Cursus/rank03/minishell"]
	path = 42/Cursus/rank03/minishell
	url = git@github.com:laird-ikar/minishell.git
[submodule "42/Cursus/rank03/philosophers"]
	path = 42/Cursus/rank03/philosophers
	url = git@github.com:laird-ikar/philosophers.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP00"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP00
	url = git@github.com:laird-ikar/CPP00.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP01"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP01
	url = git@github.com:laird-ikar/CPP01.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP02"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP02
	url = git@github.com:laird-ikar/CPP02.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP03"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP03
	url = git@github.com:laird-ikar/CPP03.git
[submodule "42/Cursus/rank04/CPP Modules 00-04/CPP04"]
	path = 42/Cursus/rank04/CPP Modules 00-04/CPP04
	url = git@github.com:laird-ikar/CPP04.git
[submodule "42/Cursus/rank05/ft_irc"]
	path = 42/Cursus/rank05/ft_irc
	url = git@github.com:laird-ikar/ft_irc.git
[submodule "42/Cursus/rank05/Inception"]
	path = 42/Cursus/rank05/Inception
	url = git@github.com:laird-ikar/Inception.git
